$Rose-900: #881337;
$Rose-700: #BE123C;
$Rose-700-hover: #ff0404e8;
$white: #ffffff;
$Blue-Gray-100: #F1F5F9;
$Blue-Gray-600: #475569;
$Blue-Gray-900: #0F172A;
$Blue-600: #2563EB;
$Purple-100: #F3E8FF;
$Purple-800: #6B21A8;
$Blue-Gray-200: #E2E8F0;
$Green-100: #DCFCE7;
$Green-800: #166534;
$Yellow-800: #854D0E;
$Yellow-100: #FEF9C3;