@use "../../styles/color" as color;
@use "../../styles/mixin" as mixin;

.hero-section {
  background-color: color.$Rose-900;  
  padding-top: 32px + 99.2px;
  position: relative;
}

.hero-row {
  h1 {
    @include mixin.h1;  
    color: color.$white;  
  }

  input {
    width: 515px;
    border-radius: 5px;
    padding: 13px 16px 13px 48px;
    color: color.$Blue-Gray-600; 
    background-image: url("../../assets/search-icon.svg");
    background-position: 12px 16px;
    background-repeat: no-repeat;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  button {
    @include mixin.mybtn;  
    @include mixin.m; 
    padding: 13px 28px;
  }

  button:hover {
    background-color: color.$Rose-700-hover;  
    transition: 0.4s ease;
  }

  .search-link {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;
  }

  a {
    border: 1px solid color.$white;  
    border-radius: 4px;
    padding: 2px 8px;
    color: color.$white;  
    white-space: nowrap;
  }
}

.left {
  padding: 129px 0;
}

.right-img {
  img {
    position: absolute;
    max-width: 100%;
    height: auto;
    right: 0%;
    top: 19%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hero-row {
    h1 {
      @include mixin.h4;  
    }

    input {
      max-width: 236px;
      background-image: none;
      padding: 13px 22px 13px 16px;
      text-overflow: ellipsis;
    }
  }

  .hero-section {
    padding-top: 0;
  }

  .left {
    padding-bottom: 32px;
  }

  .right-img {
    img {
      position: static;
      max-width: 100%;
      height: auto;
    }
  }
}
