* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1280px !important;
}

a {
  text-decoration: none !important;
}

ul {
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}

li {
  list-style: none;
}

header {
  background-color: #881337;
}

.navbar {
  padding: 24px 0 !important;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 0px;
  color: white;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  color: white !important;
}

.join {
  border: 2px solid white !important;
  border-radius: 5px;
  padding: 12px 28px !important;
}

.join:hover {
  background-color: #BE123C;
  transition: 0.4s ease;
}

.offcanvas-body ul {
  gap: 16px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  background-image: url("../assets/menu.svg") !important;
}

.navbar-toggler:hover {
  background-color: white;
  transition: 0.4s ease;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.hero-section {
  background-color: #881337;
  padding-top: 131.2px;
  position: relative;
}

.hero-row h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 0px;
  color: white;
}
.hero-row input {
  width: 515px;
  border-radius: 5px;
  padding: 13px 16px 13px 48px;
  color: #475569;
  background-image: url("../assets/search-icon.svg");
  background-position: 12px 16px;
  background-repeat: no-repeat;
  margin-top: 24px;
  margin-bottom: 8px;
}
.hero-row button {
  cursor: pointer;
  color: white;
  background-color: #BE123C;
  border-radius: 5px;
  border: none;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  padding: 13px 28px;
}
.hero-row button:hover {
  background-color: rgba(255, 4, 4, 0.9098039216);
  transition: 0.4s ease;
}
.hero-row .search-link {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 8px;
}
.hero-row a {
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px 8px;
  color: white;
  white-space: nowrap;
}

.left {
  padding: 129px 0;
}

.right-img img {
  position: absolute;
  max-width: 100%;
  height: auto;
  right: 0%;
  top: 19%;
}

.company-logo {
  padding: 48px 0;
  background-color: #F1F5F9;
}

.logo-img {
  flex-wrap: wrap;
}

.Feature-art {
  padding: 80px 0;
}

.feature-text {
  padding-bottom: 26px;
}
.feature-text h4 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #0F172A;
}
.feature-text a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  color: #2563EB;
  padding-right: 16px;
}

.art-img {
  position: relative;
}
.art-img span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  color: white;
  position: absolute;
  top: 24px;
  left: 24px;
}
.art-img h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
  color: white;
  position: absolute;
  top: 46px;
  left: 24px;
}

.slider1 {
  padding: 80px 0;
  background-color: #F1F5F9;
}

.masterpiece-text {
  padding-bottom: 24px;
}
.masterpiece-text h4 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #0F172A;
}
.masterpiece-text a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  color: #2563EB;
  padding-right: 16px;
}

.slick1-wrapper {
  width: calc(100vw - (50vw - 630px));
  margin-left: auto;
}
.slick1-wrapper .slick-list {
  padding: 0 7% 0 0 !important;
  gap: 24px !important;
}
.slick1-wrapper .slick-next:before {
  position: absolute;
  content: url("../assets/chevron-right.svg") !important;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
}
.slick1-wrapper .slick-prev:before {
  content: none;
}
.slick1-wrapper .slick-next {
  right: 105px;
  top: 40%;
}

.slider-card-img img {
  border-radius: 10px 10px 0 0;
}

.slider-card-text {
  width: 300px;
  padding: 16px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.slider-card-text img {
  padding-right: 8px;
}
.slider-card-text h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  color: #0F172A;
  margin-bottom: 0;
}
.slider-card-text h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 0px;
  color: #475569;
  margin-bottom: 0;
}

.services {
  padding: 80px 0;
}
.services h4 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0px;
}
.services button {
  cursor: pointer;
  color: white;
  background-color: #BE123C;
  border-radius: 5px;
  border: none;
  margin-bottom: 0px;
  padding: 16px 32px;
}
.services button:hover {
  background-color: #881337;
  transition: 0.4s ease;
}

.services-img {
  padding: 80px 0;
  flex-wrap: wrap;
}
.services-img h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 0px;
  color: #0F172A;
  padding-top: 16px;
}

.Solutions {
  padding: 80px 0;
  background-color: #475569;
}

.solution-row h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 0px;
  color: white;
}
.solution-row p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0px;
  color: white;
  padding: 24px 0;
}
.solution-row li {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0px;
  color: white;
}
.solution-row li img {
  padding-right: 8px;
}
.solution-row button {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0px;
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #475569;
  margin-top: 24px;
}
.solution-row button:hover {
  background-color: #0F172A;
  transition: 0.4s ease;
}

.solution-img img {
  max-width: 100%;
  height: auto;
}

.slider2 {
  padding: 80px 0;
  background-color: #F1F5F9;
}

.slider2-card {
  gap: 80px;
  padding-right: 48px;
}
.slider2-card .video-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 576px;
  max-height: 384px;
  z-index: 1;
}
.slider2-card .custom-video {
  width: 100%;
  border-radius: 10px;
}
.slider2-card .custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 144px;
  height: 144px;
  background: url("../assets/play-icon.svg") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  z-index: 10;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.slider2-card .custom-play-button:hover {
  opacity: 1;
}
.slider2-card h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 0px;
  color: #475569;
  padding-bottom: 16px;
}
.slider2-card span {
  color: #2563EB;
}
.slider2-card p {
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 0px;
  color: #0F172A;
}

.slick2-wrapper {
  position: relative;
}
.slick2-wrapper .slick-prev:before {
  position: absolute;
  content: url("../assets/chevron-left.svg") !important;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
}
.slick2-wrapper .slick-prev {
  z-index: 1000;
  top: 45%;
  left: -35px;
}
.slick2-wrapper .slick-next {
  z-index: 1000;
  top: 45%;
  right: 15px;
}
.slick2-wrapper .slick-next:before {
  position: absolute;
  content: url("../assets/chevron-right.svg") !important;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
}

.slider3 {
  padding: 80px 0;
  background-color: #475569;
}

.slider3-text h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 0px;
  color: white;
}
.slider3-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0px;
  color: white;
  padding: 24px 0;
}
.slider3-text button {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0px;
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #475569;
}
.slider3-text button:hover {
  background-color: #0F172A;
  transition: 0.4s ease;
}

.slick3-card {
  height: 100%;
  background: white;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.slick3-card .slider3-img img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.slick3-card .slick3-text {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 16px;
  border-radius: 0 0 10px 10px;
}
.slick3-card .slick3-text span {
  padding-left: 8px;
  color: #0F172A;
}

.slick3-wrapper .slick3 {
  display: flex;
  align-items: center;
}
.slick3-wrapper .slick-slide {
  height: 100% !important;
  margin: 0 12px;
  opacity: 0.5;
  display: flex !important;
  justify-content: center;
}
.slick3-wrapper .slick-center {
  opacity: 1;
}
.slick3-wrapper .slick3-card {
  width: 184px;
  transition: all 0.3s ease;
}
.slick3-wrapper .slick-slide.slick-center .slick3-card {
  width: 384px !important;
}
.slick3-wrapper .slick-slide img {
  max-width: 100%;
}
.slick3-wrapper .slick-prev:before,
.slick3-wrapper .slick-next:before {
  position: absolute;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
}
.slick3-wrapper .slick-prev:before {
  content: url("../assets/chevron-left.svg") !important;
}
.slick3-wrapper .slick-next:before {
  content: url("../assets/chevron-right.svg") !important;
}
.slick3-wrapper .slick-prev {
  z-index: 1000;
  top: 40%;
  left: 65px;
}
.slick3-wrapper .slick-next {
  z-index: 1000;
  top: 40%;
  right: 100px;
}

.art-section {
  padding: 80px 0;
}

.art-text {
  padding-bottom: 26px;
  flex-wrap: wrap;
}
.art-text h4 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #0F172A;
}
.art-text a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  color: #2563EB;
}
.art-text a img {
  padding-left: 16px;
}

.art-card-img {
  position: relative;
  display: inline-block;
}
.art-card-img img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.Featured {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 0px;
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #F3E8FF;
  color: #6B21A8;
  padding: 5px 10px;
  border-radius: 4px;
}

.New {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 0px;
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #DCFCE7;
  color: #166534;
  padding: 5px 10px;
  border-radius: 4px;
}

.Coming-Soon {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 0px;
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #FEF9C3;
  color: #854D0E;
  padding: 5px 10px;
  border-radius: 4px;
}

.art-card-text h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #0F172A;
  padding-top: 24px;
  padding-bottom: 8px;
}
.art-card-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0px;
  color: #0F172A;
}

.join-now {
  padding-top: 80px;
  background-color: #0F172A;
  color: white;
}

.join-text h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 0px;
}
.join-text button {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0px;
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #0F172A;
  margin-top: 24px;
}
.join-text button:hover {
  background-color: #475569;
  transition: 0.4s ease;
}

.join-img img {
  max-width: 100%;
  height: auto;
}

.footer-row {
  color: #475569;
  padding-top: 63px;
  padding-bottom: 36px;
  border-bottom: 1px solid #E2E8F0;
}
.footer-row li {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  padding-bottom: 24px;
}
.footer-row li img {
  padding-right: 8px;
  max-width: 100%;
  height: auto;
}

.footer-bottom {
  padding-top: 48px;
  padding-bottom: 24px;
  flex-wrap: wrap;
}
.footer-bottom span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
}
.footer-bottom .social-logo {
  gap: 16px !important;
}

.footer-p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
  line-height: 140%;
  padding-top: 24px;
  padding-bottom: 48px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
    color: black !important;
  }
  .join {
    border: 2px solid black !important;
    border-radius: 5px;
    padding: 12px 28px !important;
  }
  .hero-row h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
  }
  .hero-row input {
    max-width: 236px;
    background-image: none;
    padding: 13px 22px 13px 16px;
    text-overflow: ellipsis;
  }
  .hero-section {
    padding-top: 0;
  }
  .left {
    padding-bottom: 32px;
  }
  .right-img img {
    position: static;
    max-width: 100%;
    height: auto;
  }
  .logo-img {
    gap: 32px;
  }
  .company-logo {
    padding-bottom: 24px;
  }
  .Feature-art {
    padding: 48px 0;
  }
  .feature-text {
    padding-bottom: 32px;
    flex-wrap: wrap;
  }
  .feature-text h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0px;
    color: #0F172A;
    padding-bottom: 8px;
  }
  .feature-text a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
    color: #2563EB;
  }
  .art {
    overflow-x: scroll;
    gap: 24px;
  }
  .slider1 {
    padding: 48px 0;
  }
  .slick1-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .slick1-wrapper .slick-list {
    padding: 0 15% 0 0 !important;
    margin-left: 16px;
  }
  .masterpiece-text {
    flex-wrap: wrap;
  }
  .masterpiece-text h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0px;
    color: #0F172A;
    padding-bottom: 8px;
  }
  .masterpiece-text a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
    color: #2563EB;
    padding-right: 16px;
  }
  .services {
    padding: 48px 0;
  }
  .services h4 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
  }
  .services button {
    cursor: pointer;
    color: white;
    background-color: #BE123C;
    border-radius: 5px;
    border: none;
    margin-bottom: 0px;
    padding: 16px 32px;
  }
  .services-img {
    padding: 48px 0;
    row-gap: 48px;
  }
  .Solutions {
    padding: 48px 0;
  }
  .solution-row {
    flex-direction: column-reverse;
  }
  .solution-row h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0px;
    padding-top: 32px;
  }
  .solution-row p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
    padding: 24px 0;
  }
  .solution-row li {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
  }
  .slider2 {
    padding: 48px 0;
  }
  .slider2-card {
    flex-direction: column;
    gap: 0px;
  }
  .slider2-card h6 {
    padding-top: 32px;
  }
  .slider2-card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
    font-weight: 400;
  }
  .slider3 {
    padding: 48px 0;
  }
  .slider3-text h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0px;
  }
  .slider3-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
    padding: 16px 0;
    font-weight: 400;
  }
  .slider3-text button {
    margin-bottom: 53.5px;
  }
  .art-section {
    padding-top: 48px;
    padding-bottom: 0px;
  }
  .art-text {
    padding-bottom: 24px;
  }
  .art-text h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0px;
  }
  .art-text a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
    color: #2563EB;
  }
  .art-card-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
    font-weight: 400;
    padding-bottom: 48px;
  }
  .join-now {
    padding-top: 48px;
  }
  .join-text {
    text-align: center;
  }
  .join-text h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0px;
  }
  .join-text button {
    margin-bottom: 32px;
  }
  .footer-row {
    gap: 32px;
  }
  .footer-bottom span {
    padding-bottom: 24px;
  }
  .footer-p {
    padding-top: 0;
  }
}/*# sourceMappingURL=main.css.map */