@import '_color';
@import '_mixin';

*{margin: 0; padding: 0; box-sizing: border-box; font-family: "Roboto", sans-serif;}

html , body{height: 100%; width: 100%;}

.container{max-width: 1280px !important;}

// img{max-width: 100%; height: auto;}

a{text-decoration: none !important;}

ul{padding-left: 0px !important; margin-bottom: 0px!important;}

li{list-style: none;}

header{background-color: $Rose-900;}

.navbar{padding: 24px 0 !important;}

.logo{@include h5; color: $white;} 

.nav-link{@include m; color: $white !important; }

.join{border: 2px solid $white !important; border-radius: 5px; padding: 12px 28px !important;}

.join:hover{background-color: $Rose-700; transition: 0.4s ease;}

.offcanvas-body{ul{gap: 16px;}}

.navbar-toggler{border: none !important;}

.navbar-toggler-icon {background-image: url("../assets/menu.svg") !important;}

.navbar-toggler:hover {background-color: $white; transition: 0.4s ease;}

.navbar-toggler:focus {box-shadow: none !important;}

.hero-section{background-color: $Rose-900; padding-top: 32px + 99.2px; position: relative;} 

.hero-row{
    h1{@include h1; color: $white;}
    input{width: 515px; border-radius: 5px; padding: 13px 16px 13px 48px; color: $Blue-Gray-600; background-image: url("../assets/search-icon.svg"); background-position: 12px 16px; background-repeat: no-repeat; margin-top: 24px; margin-bottom: 8px;}
    button{@include mybtn; @include m; padding: 13px 28px;}
    button:hover{background-color: $Rose-700-hover; transition: 0.4s ease;}
    .search-link{display: flex; flex-wrap: nowrap; overflow-x: auto; gap: 8px;}
    a{border: 1px solid $white; border-radius: 4px; padding: 2px 8px; color: $white; white-space: nowrap; }
}

.left{padding: 129px 0;}

.right-img{
    img{position: absolute; max-width: 100%; height: auto; right: 0%; top: 19%;}
}

.company-logo{padding: 48px 0; background-color: $Blue-Gray-100;}

.logo-img{flex-wrap: wrap;}

.Feature-art{padding: 80px 0;}

.feature-text{
    padding-bottom: 26px;
    h4{@include h4; color: $Blue-Gray-900;}
    a{@include m; color: $Blue-600; padding-right: 16px;}
}

.art-img{
    position: relative;
    span{@include m; color: $white; position: absolute; top: 24px; left: 24px;}
    h6{@include h6; color: $white; position: absolute; top: 46px; left: 24px;}
}

.slider1{padding: 80px 0; background-color: $Blue-Gray-100;}

.masterpiece-text{
    padding-bottom: 24px;
    h4{@include h4; color: $Blue-Gray-900;}
    a{@include m; color: $Blue-600; padding-right: 16px;}
}

// .slick-list{padding:0 7% 0 0 !important;}
    
.slick1-wrapper{
    .slick-list{padding:0 7% 0 0 !important; gap: 24px !important;}
    width: calc(100vw - (50vw - 630px));
    margin-left: auto;
    .slick-next:before {
        position: absolute;
        content: url("../assets/chevron-right.svg") !important;
        padding: 10px;
        background-color: #ffffff;
        border-radius: 50%;
        opacity: 1;
    }
    .slick-prev:before {
        content: none;
        
    }
    .slick-next {right: 105px; top: 40%;}

}

.slider-card-img{img{border-radius: 10px 10px 0 0;}}

.slider-card-text{
    width: 300px;padding: 16px; background-color: $white; border-radius: 0 0 10px 10px;
    img{padding-right: 8px;}
    h5{@include m; color: $Blue-Gray-900; margin-bottom: 0;}
    h6{@include s; color: $Blue-Gray-600; margin-bottom: 0;} 
}

.services{padding: 80px 0; h4{@include h4;} button{@include mybtn; padding: 16px 32px;}button:hover{background-color: $Rose-900; transition: 0.4s ease;}
}

.services-img{
    padding: 80px 0;
    flex-wrap: wrap;
    h3{@include xl; color: $Blue-Gray-900; padding-top: 16px;}
}

.Solutions{padding: 80px 0; background-color: $Blue-Gray-600;}

.solution-row{
    h2{@include h2; color: $white;}
    p{@include l; color: $white; padding: 24px 0;}
    li{@include l;color: $white; img{padding-right: 8px;}}
    button{@include l; color: $white; padding: 16px 32px; border-radius: 8px; 
    border: 2px solid $white; background-color: $Blue-Gray-600; margin-top: 24px;}
    button:hover{background-color: $Blue-Gray-900; transition: 0.4s ease;}
}

.solution-img{img{max-width: 100%; height: auto;}}

.slider2{padding: 80px 0; background-color: $Blue-Gray-100;}

.slider2-card{
    gap: 80px;
    padding-right: 48px;
.video-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 576px;
    max-height: 384px;
    z-index: 1;
}

.custom-video {
    width: 100%;
    border-radius: 10px;
}

.custom-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 144px;
    height: 144px;
    background: url("../assets/play-icon.svg") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    z-index: 10;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.custom-play-button:hover {
    opacity: 1;
}
    h6{@include xl; color: $Blue-Gray-600; padding-bottom: 16px;}
    span{color: $Blue-600;}
    p{@include xxl; color: $Blue-Gray-900;}
}

.slick2-wrapper{
    position: relative;
    .slick-prev:before{
        position: absolute;
        content: url("../assets/chevron-left.svg") !important;
        padding: 12px;
        background-color: #ffffff;
        border-radius: 50%;
        opacity: 1;
    }
    .slick-prev{z-index: 1000; top: 45%; left: -35px;}
    .slick-next{z-index: 1000; top: 45%; right: 15px;}
    .slick-next:before{
        position: absolute;
        content: url("../assets/chevron-right.svg") !important;
        padding: 12px;
        background-color: #ffffff;
        border-radius: 50%;
        opacity: 1;
    }
}

.slider3{padding: 80px 0; background-color: $Blue-Gray-600;}

.slider3-text{
    h2{@include h2; color: $white;}
    p{@include l; color: $white; padding: 24px 0;}
    button{@include l; color: $white; padding: 16px 32px; border-radius: 8px; border: 2px solid $white; background-color: $Blue-Gray-600; }
    button:hover{background-color: $Blue-Gray-900; transition: 0.4s ease;}
}

.slick3-card {
    height: 100%; 
    background: white;
    border-radius: 10px;
    transition: all 0.3s ease;
    

    .slider3-img {
        img {
            border-radius: 10px 10px 0 0;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .slick3-text {
        display: flex;
        align-items: center;
        background-color: $white;
        padding: 16px;
        border-radius: 0 0 10px 10px;
        span {
            padding-left: 8px;
            color: $Blue-Gray-900;
        }
    }
}

.slick3-wrapper {
    .slick3 {
      display: flex;
      align-items: center;
    }
  
    .slick-slide {
      height: 100% !important;
      margin: 0 12px;
      opacity: 0.5;
      display: flex !important;
      justify-content: center;
    }
  
    .slick-center {
      opacity: 1;
    }
  
    .slick3-card {
      width: 184px;
      transition: all 0.3s ease;
    }
  
    .slick-slide.slick-center .slick3-card {
      width: 384px !important;
    }
  
    .slick-slide img {
      max-width: 100%;
    }
  
    .slick-prev:before,
    .slick-next:before {
      position: absolute;
      padding: 12px;
      background-color: #ffffff;
      border-radius: 50%;
      opacity: 1;
    }
  
    .slick-prev:before {
      content: url("../assets/chevron-left.svg") !important;
    }
  
    .slick-next:before {
      content: url("../assets/chevron-right.svg") !important;
    }
  
    .slick-prev {
      z-index: 1000;
      top: 40%;
      left: 65px;
    }
  
    .slick-next {
      z-index: 1000;
      top: 40%;
      right: 100px;
    }
  }
  
  
.art-section{padding: 80px 0;}

.art-text{
    padding-bottom: 26px; flex-wrap: wrap;
    h4{@include h4; color: $Blue-Gray-900;}
    a{@include m; color: $Blue-600;
        img{padding-left: 16px;}
    }
}

.art-card-img {
    position: relative;
    display: inline-block;
    img{max-width: 100%; height: auto; border-radius: 5px;}
  }
  
  .Featured {
    @include s;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: $Purple-100; 
    color: $Purple-800;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .New {
    @include s;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: $Green-100; 
    color: $Green-800;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .Coming-Soon {
    @include s;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: $Yellow-100; 
    color: $Yellow-800;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
.art-card-text{
    h6{@include h6; color: $Blue-Gray-900; padding-top: 24px; padding-bottom: 8px;}
    p{@include l; color: $Blue-Gray-900;}
}

.join-now{padding-top: 80px; background-color: $Blue-Gray-900; color: $white;}

.join-text{
    h2{@include h2;}
    button{@include l; color: $white; padding: 16px 32px; border-radius: 8px; border: 2px solid $white; background-color: $Blue-Gray-900; margin-top: 24px;}
    button:hover{background-color: $Blue-Gray-600; transition: 0.4s ease;}
}

.join-img{
    img{max-width: 100%; height: auto;}
}

.footer-row{
    color: $Blue-Gray-600; padding-top: 63px; padding-bottom: 60px - 24px; border-bottom: 1px solid $Blue-Gray-200;
    li{@include m; padding-bottom: 24px;
        img{padding-right: 8px; max-width: 100%; height: auto;}}
}

.footer-bottom{
    padding-top: 48px; padding-bottom: 24px; flex-wrap: wrap;
    span{@include m;}
    .social-logo{gap: 16px!important;}
}

.footer-p{@include xs; padding-top: 24px; padding-bottom: 48px;}


@media (min-width:320px) and (max-width:767px){
    .nav-link{@include m; color: black !important;}
    .join{border: 2px solid black !important; border-radius: 5px; padding: 12px 28px !important;}
    .hero-row{
        h1{@include h4;}
        input{max-width: 236px; background-image: none; padding: 13px 22px 13px 16px; text-overflow: ellipsis;}  
    }
    .hero-section{padding-top: 0;}
    .left{padding-bottom: 32px;}
    .right-img{
        img{position: static; max-width: 100%; height: auto;    }
    }
    .logo-img {gap: 32px;}
    .company-logo{padding-bottom: 48px;}
    .Feature-art{padding: 48px 0;}
    .feature-text{
        padding-bottom: 32px;
        flex-wrap: wrap;
        h4{@include h5; color: $Blue-Gray-900;padding-bottom: 8px;}
        a{@include m; color: $Blue-600;}
    }
    .art{overflow-x: scroll; gap: 24px;} 
    .slider1{padding: 48px 0;}
    .slick1-wrapper {
        .slick-list{padding:0 15% 0 0 !important; margin-left: 16px;}
        width: 100%;
        overflow: hidden;
    }
    .masterpiece-text{
        flex-wrap: wrap;
        h4{@include h5; color: $Blue-Gray-900; padding-bottom: 8px;}
        a{@include m; color: $Blue-600; padding-right: 16px;}
    }
    .services{padding: 48px 0; h4{@include h4;} button{@include mybtn; padding: 16px 32px;}}
    .services-img{padding: 48px 0; row-gap: 48px;}
    .Solutions{padding: 48px 0;}
    .solution-row{
        flex-direction: column-reverse;
        h2{@include h5; padding-top: 32px;}
        p{@include m; padding: 24px 0;}
        li{@include m;}
    }
    .slider2{padding: 48px 0;}
    .slider2-card{flex-direction: column; gap: 0px;
        h6{padding-top: 32px;}
        p{@include m; font-weight: 400;}
    }
    .slider3{padding: 48px 0;}
    .slider3-text{
        h2{@include h5;}
        p{@include m; padding: 16px 0; font-weight: 400;}
        button{margin-bottom: 53.5px;}
    }
    // .slick3-wrapper{
    //     .slick-list{padding:0 15% 0 0 !important;}
    // }
    .art-section{padding-top: 48px; padding-bottom: 0px;}
    .art-text{
        padding-bottom: 24px; 
        h4{@include h5; }
        a{@include m; color: $Blue-600;}
    }
    .art-card-text{
        p{@include m; font-weight: 400; padding-bottom: 48px;}
    }
    .join-now{padding-top: 48px;}
    .join-text{
        text-align: center;
        h2{@include h5;}
        button{margin-bottom: 32px;}
    }
    .footer-row{gap: 32px;}
    .footer-bottom{
        span{padding-bottom: 24px;}
    }
    .footer-p{padding-top: 0;}
}
